<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
           
           <bean id="userService" class="cm.commons.sys.service.impl.UserServiceImpl"/>
           
           <bean id="computerLogService" class="cm.commons.sys.service.impl.ComputerLogServiceImpl"/>

           <bean id="routerLogService" class="cm.commons.sys.service.impl.RouterLogServiceImpl"/>
           
           <bean id="systemService" class="cm.commons.sys.service.impl.SystemServiceImpl"/>
           
           <bean id="warnService" class="cm.commons.sys.service.impl.WarnServiceImpl"/>
           
           <bean id="computerService" class="cm.commons.stat.service.impl.ComputerServiceImpl"/>
           
           <bean id="portService" class="cm.commons.stat.service.impl.PortServiceImpl"/>
           
           <bean id="routerService" class="cm.commons.stat.service.impl.RouterServiceImpl"/>
           
           <bean id="routeService" class="cm.commons.stat.service.impl.RouteServiceImpl"/>
           
           <bean id="segmentService" class="cm.commons.stat.service.impl.SegmentServiceImpl"/>
           
           <bean id="stationService" class="cm.commons.stat.service.impl.StationServiceImpl"/>
</beans>
