<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
          
           <!-- 该 BeanPostProcessor 将自动起作用，对标注 @Autowired 的 Bean 进行自动注入 -->     
    	   <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
           
           <bean id="computerController" class="cm.commons.controller.ComputerController"/>
           
           <bean id="computerLogController" class="cm.commons.controller.ComputerLogController"/>
           
           <bean id="routerController" class="cm.commons.controller.RouterController"/>
           
           <bean id="routerLogController" class="cm.commons.controller.RouterLogController"/>
           
           <bean id="portController" class="cm.commons.controller.PortController"/>
           
           <bean id="userController" class="cm.commons.controller.UserController"/>
           
           <bean id="stationRouterController" class="cm.commons.controller.StationRouteController"/>
           
           <bean id="systemConfigController" class="cm.commons.controller.SystemConfigController"/>
           
           <bean id="alarmController" class="cm.commons.controller.AlarmController"/>
           
           <!-- 处理客户端请求 -->
           <bean id="requestController" class="cm.commons.controller.dorequest.RequestController"/>
</beans>
