<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://121.49.110.147:3306/stations?useUnicode=true&amp;characterEncoding=utf-8&amp;zeroDateTimeBehavior=convertToNull&amp;transformedBitIsBoolean=true
		</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">true</property>
		
		<property name="hibernate.connection.provider_class">
			org.hibernate.connection.C3P0ConnectionProvider
		</property>
		<property name="c3p0.min_size">5</property>
		<property name="c3p0.max_size">50</property>
		<property name="c3p0.time_out">28000</property><!-- seconds -->
		<property name="c3p0.max_statement">100</property><!-- default: 0 -->
		<property name="c3p0.acquire_increment">5</property><!-- default: 1 -->
		<!--每60秒检查所有连接池中的空闲连接。Default: 0 -->
		<property name="c3p0.idle_test_period">60</property><!-- seconds -->		
		<property name="show_sql">true</property>
		
		
		<mapping resource="cm/commons/pojos/Warn.hbm.xml" />
		<mapping resource="cm/commons/pojos/ComputerLog.hbm.xml" />
		<mapping resource="cm/commons/pojos/User.hbm.xml" />
		<mapping resource="cm/commons/pojos/Router.hbm.xml" />
		<mapping resource="cm/commons/pojos/Station.hbm.xml" />
		<mapping resource="cm/commons/pojos/Computer.hbm.xml" />
		<mapping resource="cm/commons/pojos/System.hbm.xml" />
		<mapping resource="cm/commons/pojos/RouterLog.hbm.xml" />
		<mapping resource="cm/commons/pojos/Port.hbm.xml" />
		<mapping resource="cm/commons/pojos/Segment.hbm.xml" />
		<mapping resource="cm/commons/pojos/Route.hbm.xml" />
	</session-factory>
</hibernate-configuration>